---
// src/pages/[id].astro
import Layout from '../layouts/Layout.astro';

export async function getStaticPaths() {
  const link = [
    { id: 'bicl', title: 'Broadway in Chicago Lottery', url: 'https://www.broadwayinchicago.com/broadway-in-chicago-lottery/' },
    { id: 'post-2', title: 'Second Post', content: 'Content of the second post.' },
    { id: 'post-3', title: 'Third Post', content: 'Content of the third post.' },
  ];

  return link.map((link) => ({
    params: { id: link.id },
    props: { link }, // Pass data as props to the page
  }));
}

function decodeBase64(encodedString: string) {
  try {
    const decodedString = atob(encodedString);
    return decodedString;
  } catch (error) {
    console.error("Error decoding Base64 string:", error);
    return null;
  }
}


const { link } = Astro.props;
---

<Layout title={link.title} redirectUrl={link.url}>
  <h1>Redirecting to {link.title} ...</h1>
</Layout>