---
// src/components/
---

<section class="missingInfo">
    <h2>Please enter the full URL in the address bar.</h2>
  </section>
  
  <style>
    .missingInfo {
      padding: 4rem 0;
      text-align: center;
    }
    .missingInfo h2 {
      margin-bottom: 1rem;
      text-align: center;
    }
  </style>